<!doctype html>
<html>

<head>
    <nav>
        <ul id="user-account">
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Main Blog Page</a></li>
            <li><a href="/newpost">Add a Blog Entry</a></li>
        </ul>
    </nav>
    <style>
        .error {
            color: red;
        }

        nav ul {
            padding: 0;
            display: inline-block;
        }

        nav ul li {
            list-style: none;
            display: inline-block;
            margin-right: 15px;
        }

        nav #user-account {
            float: right;
        }
    </style>
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
        {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
        {% endfor %}
    </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>

</html>