{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center">Blog Heaven</h1>

    {% if posts|length == 0 %}
        <p>No Blog Posts Yet</p>
    {% else %}

        <hr />
        {% for post in posts %}
            <h1><a href="/blog?id={{post.id}}">{{post.title}}</a></h1>
            <br>
            <p>{{post.body}}</p>
            <br>
            <p class="post-author">Written by <a href="/blog?user={{post.owner.id}}">{{post.owner.username}}</a></p>
            <hr />
            <br>
        {% endfor %}


    {% endif %}


{% endblock %}